#span1{
    font-size: 20px;
    color: rgb(59, 191, 201);
    position: relative;
}
#judul{
    color: hotpink;
}
#tombol{
    color: rgb(248, 4, 4);
    font-style: normal;
}

#wrapper {

}

#div1 {
    display: flex;
    justify-content: center;
    
}

#div2 {
    display: flex;
    justify-content: center;
}
body {
    background-image: url("jokowi.jpeg");
}

#link1{
    font-size: x-large;
    color: chartreuse;
}