*{top: 0;    }

#span1{
    font-size: 50px;
    color: rgb(255, 255, 255);
    
}
#judul{
    color: hotpink;
}
#tombol{
    color: rgb(85, 79, 79);
    font-size: 13px;
    background-color: rgb(71, 168, 115);;
    border: none;
    size: 40px;
}

#tombol:hover{
    background-color: antiquewhite;
}

#wrapper {
    background-color: brown;
    width: 100%;
}

#div1 {
    display: flex;
    justify-content: left;
    background-color: rgb(71, 168, 115);
    
    margin-top: 0px;
}

#div2 {
    display: flex;
    justify-content: left;
    background-color: rgb(71, 168, 115);

}
body {
    background-color: rgb(7, 102, 89);
}



#link1{
    display: flex;
    font-size: x-large;
    color: rgb(0, 0, 0);  
    background-color: antiquewhite;
    justify-content: center; 
}

#dropdown1{
    color: rgb(85, 79, 79);
    border: none;
    background-color: antiquewhite;
}
#dropdown1:hover{
    background-color: rgb(71, 168, 115);
}
#dropdown2{
    color: rgb(85, 79, 79);
    border: none;
    background-color: antiquewhite;
}
#dropdown2:hover{
    background-color: rgb(71, 168, 115);
}